.row {
    background-color: aquamarine;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    background-color: orange;
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header {
    align-content: center;
    width: 100%;
    text-align: center;
    padding: 1%;
    font-size: 3em;
    background-image: url("https://apod.nasa.gov/apod/image/2005/ISS-Lighttrail-Reflection.jpg");
    background-size: 100%;
}

.paragraph {
    text-align: justify;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 1%;
}


