.nav-link {
    background-color: black;
}

.brand {
    margin: 0;
    padding: 0px;
    color: orangered;
    opacity: 50%;
    background-color: #61dafb;
}

.link {
    padding: 5px;
    color: white;
}