.nav-link {
    background-color: black;
    opacity: 50%;
}

.brand {
    margin: 0;
    padding: 0px;
    color: orangered;
    opacity: 50%;
    background-color: #61dafb;
}

.link {
    padding: 5px;
    color: white;
}

.nav-bar {
    background-color: green;
    height: 5%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.nav-view {
    height: 95%;
    background-color: chartreuse;
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%

}